  <mat-card>
    <img mat-card-image src="/assets/picture.png">
      <mat-card-title>Task 4.2</mat-card-title>
      <table style="width:100%">
        <tr>
          <td style="width:5%;padding:6px"><mat-icon>person</mat-icon></td>
         <td style="width:5%;padding:6px"><mat-icon>sms</mat-icon></td>
          <td style="padding:6px;color:rgba(0,0,0,0.5);font-weight: bold; font-size:15px;">Submitted April 8, 2020</td>
         <td style="padding:6px;"><mat-icon>more_vert</mat-icon></td>
        </tr>
      </table>
  </mat-card>
